@import "../../Styles/constants.scss";
.clerk {
  font-family: $content-font;
  max-width: 100%;
  height: 100vh;
  // background-color: red;
  display: flex;
  align-items: center;
  justify-content: center;
  // background-color: #ffffff;

  background-image: radial-gradient(
    ellipse farthest-corner at 10px 10px,
    #e2d9f500,
    #f7f6fa06 50%,
    #ffffff17 50%
  );
  background-size: 10px 10px;
}
