@import '../../Styles/constants.scss';

*{
    padding:0;
    margin:0;
    font-family:$content-font; 
    a{
     text-decoration: none;   
     color:$highlight-font-color;
        
    }

}







 
