.main-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 15%;
  @media screen and (max-width: 600px) {
    margin-top: 25%;
  }

  .trending-post-header {
    font-weight: 100;
    @media screen and (max-width: 600px) {
      font-size: 25px;
    }
  }
  .title {
    font-size: 2vw;
    font-weight: lighter;
    // color:rgb(234, 111, 234);
  }
  .most-viewed-post-wrapper {
    // background-color:red;
    display: flex;
    flex-direction: column;
    margin-bottom: 10%;
    gap: 20px;
    width: 100%;

    .most-viewed-post-container {
      width: 100%;
      margin-top: 2%;
      display: flex;
      position: relative;
      .over-lay {
        display: none;
        position: absolute;
        width: 96%;
        transition: 1.5s;
        height: 58vh;
        // background-color: #fff;
        padding: 1% 2%;
        .profile-pic {
          border-radius: 50%;
        }
      }
      .image {
        filter: blur(0px);
        transition: 1.5s;
        // border-radius:1%;
        width: 100%;
        height: 60vh;
        @media screen and (max-width: 600px) {
          height: 35vh;
        }
      }

      &:hover {
        .image {
          filter: blur(5px);
          transition: 1.5s;
        }
        .over-lay {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          // align-items: flex-end;
          // background-color: red;
          height: 95%;
          .title {
            color: rgba(255, 255, 255, 0.642);
            font-size: 25px;
            overflow: hidden;
            font-weight: 100;
               @media screen and (max-width: 600px) {
      font-size: 15px;
    }
          }
          .bottom-area {
            display: flex;
            justify-content: space-between;
            a {
              color: white;
            }
            .user-details-wrapper {
              display: flex;
              flex-direction: row;
              align-items: center;
              gap: 10px;
              color: rgba(255, 255, 255, 0.642);
              // background-color:red;
              font-size: 20px;
                 @media screen and (max-width: 600px) {
      font-size: 10px;
    }
              .profile-pic {
                width: 30px;
                height: 30px;

                @media screen and (max-width: 600px) {
                    width: 20px;
                height: 20px;
                }
              }
            }
            .read {
              color: rgba(164, 240, 164, 0.727);
              span {
                font-size: 30px;
                font-weight: 100;
                   @media screen and (max-width: 600px) {
      font-size: 15px;
    }
              }
            }
          }
        }
      }
    }
  }
}
