@import "../../Styles/constants.scss";


.navbar-wrapper {
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1% 0;

  .logo
  {
    font-family: $logo-font;
    font-size: 25px;
    color:$highlight-font-color;
    font-weight:100;
    // opacity:0.5;
 
  }

  .links-wrapper {
    width: 25%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:$highlight-font-color;
  }
}
