.main-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 15%;

  .title {
    font-size: 2vw;
    font-weight: lighter;
    // color:rgb(234, 111, 234);
    // margin-bottom:1%;
  }
  .most-viewed-post-wrapper {
    // background-color:red;
    display: flex;
    flex-direction: column;
    margin-bottom:10%;
    gap:20px;
    width: 100%;

    .most-viewed-post-container {
      width: 70%;

      display: flex;
      position: relative;
      .over-lay {
        display: none;
        position: absolute;
        width: 96%;
        transition: 1.5s;
        height:58vh;
        // background-color: #fff;
        padding:1% 2%;
        .profile-pic
        {
          border-radius:50%;
        }
      }
      .image {
        filter: blur(0px);
        transition: 1.5s;
        border-radius:1%;
      }
      &:hover {
        .image {
          filter: blur(5px);
          transition: 1.5s;
        }
        .over-lay {
          display: flex;
          flex-direction: column;
          justify-content:space-between;
          // align-items: flex-end;
          .title {
            color: rgba(255, 255, 255, 0.642);
            font-size:1.5vw;
            overflow:hidden;
            // font-weight: 200;
          }
          .bottom-area{
            display: flex;
            justify-content: space-between;
            .user-details-wrapper
          {
            display: flex;
            flex-direction:row;
            align-items: center;
            gap:10px;
            color: rgba(255, 255, 255, 0.642);
            // background-color:red;
            
          }
          .read
            {
              color:rgba(164, 240, 164, 0.727);
                 span{
                  font-size:30px;
                  font-weight: 100;
                 }
             }
          }
          
        }
      }
    }
  }
}
