@import url("https://fonts.googleapis.com/css2?family=Borel&family=Oi&family=Raleway&family=Ysabeau+Infant:ital,wght@1,100&display=swap");

$logo-font: "Oi", cursive;

$creator-font: "Ysabeau Infant", sans-serif;

$content-font: "Raleway", sans-serif;


.light-mode {
  background-color: rgb(255, 255, 255);
  color: rgb(58, 58, 58);
   
}

.dark-mode{
  background-color: rgb(7, 7, 7);
  color: rgb(219, 216, 216);
 
}
